extends ../layout

block content
  h1 Update Employee

  form.form-horizontal.update(action='/employees/#{employee._id}', method='put')
    .control-group
      label.control-label(for='input_first_name') First name
      .controls
        input(type='text', name='first_name', id='input_first_name', placeholder='First name', value='#{employee.first_name}')
    .control-group
      label.control-label(for='input_last_name') Last name
      .controls
        input(type='text', name='last_name', id='input_last_name', placeholder='Last name', value='#{employee.last_name}')
    .control-group
      button.btn.btn-primary(type='submit', name='Add') Update employee