extends ../layout

block content
  h1 Employees

  table.table
    tr
      th First name
      th Last name
      th Manage

      if employees && employees.length > 0
        each employee in employees
          tr
            td #{employee.first_name}
            td #{employee.last_name}
            td
              a.btn.btn-success.btn-xs(href='/employees/#{employee._id}') Show
              a.btn.btn-danger.btn-xs.delete(href='/employees/#{employee._id}') Delete
      else
        tr
          td(colspan=2) No records in database

  a.btn.btn-primary(href='/employees/new') Create Employee