extends ../layout

block content
  h1 Add Employee

  form.form-horizontal(action='/employees', method='post')
    .control-group
      label.control-label(for='input_first_name') First name
      .controls
        input(type='text', name='first_name', id='input_first_name', placeholder='First name')
    .control-group
      label.control-label(for='input_last_name') Last name
      .controls
        input(type='text', name='last_name', id='input_last_name', placeholder='Last name')
    .control-group
      button.btn.btn-primary(type='submit', name='Add') Add employee