extends ../layout

block content
  h1 Employees

  table.table
    tr
      th First name
      th Last name
      th Manage

      tr
        td #{employee.first_name}
        td #{employee.last_name}
        td
          a.btn.btn-warning.btn-xs(href='/employees/#{employee._id}/edit') Edit
          a.btn.btn-danger.btn-xs.delete(href='/employees/#{employee._id}') Delete