doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')

  body
    block content
    script(src='/javascripts/jquery-2.1.1.min.js')
    script(src='/javascripts/global.js')